In [1]:
if True:
    print("True")
else:
    print("False")

True

In [2]:
print("Welcome to Perak Technology")

Welcome to Perak Technology

In [4]:
name = input("Enter your name: ")
print(name)

Enter your name: Perak Technology
Perak Technology

In [5]:
# print("Welcome to Perak Technology")

In [11]:
counter = 100 # integer
distance = 200.0 # float
name = "Perak Technology"# string
z = None# null

print(counter)
print(distance)
print(name)
print(z)

100
200.0
Perak Technology
None

In [13]:
counter = 100 # integer
print(counter)
counter = "One Hundred" # string
print(counter)

100
One Hundred

In [14]:
a = b = c = 100 # all 3 value is 100
print(a)
print(b)
print(c)

100
100
100

In [15]:
a, b, c, = 10, 120.0, "Perak Technology"
print(a)
print(b)
print(c)

10
120.0
Perak Technology

In [20]:
x = -50
a = int(x) # change x to integer
b = float(x) # change x to float
c = abs(x) # get x absolute value
print(a)
print(b)
print(c)

-50
-50.0
50

In [22]:
num = 2232
str = "{} Perak Technology Members".format(num)
print(str)

2232 Perak Technology Members

In [25]:
a = "Salam"
b = "Perak Technology"
p = a + b
q = a * 2
r = a[1]
s = a[1:4]
print(p)
print(q)
print(r)
print(s)

SalamPerak Technology
SalamSalam
a
ala

In [35]:
str = "Perak Technology"
a = str.count("o")
b = str.isalpha()
c = str.isdigit()
d = str.lower()
e = str.upper()
f = str.replace("Technology","Technology Session")
g = str.split(' ')
h = str.strip()
i = len(str)
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
print(i)

2
False
False
perak technology
PERAK TECHNOLOGY
Perak Technology Session
['Perak', 'Technology']
Perak Technology
16

In [36]:
list = ["Perak", "Technology", "No.", 1]
print(list[0])
list[2] = "Best"
print(list)

Perak
['Perak', 'Technology', 'Best', 1]

In [37]:
t = ("Perak", "Technology", "No.", 1)
print(t[1])
t[2] = "Best"

Technology

TypeError: 'tuple' object does not support item assignment

In [38]:
a = 2
b = 5
if a > b:
	print("Larger")
elif a < b:
	print("Smaller")
else:
	print("Equal")

Smaller

In [39]:
for letter in "Perak":
	print("Current letter: ",letter)

Current letter:  P
Current letter:  e
Current letter:  r
Current letter:  a
Current letter:  k

In [40]:
count = 5
while count > 0:
	print("Current count: ", count)
	count = count - 1

Current count:  5
Current count:  4
Current count:  3
Current count:  2
Current count:  1

In [42]:
def welcome(name):
	print("Welcome Home", name)
	return

welcome("Perak Technology")

Welcome Home Perak Technology